<!DOCTYPE html>
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio no-localstorage no-sessionstorage webworkers applicationcache svg inlinesvg no-smil svgclippaths"><head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Neat — Free Website Template, Free HTML5 Template by freehtml5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co">
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive">

    <style>
        h3{
            color:white!important;
        }
        h3:hover{
            color:black!important;
        }
    </style>
  	<!-- Facebook and Twitter integration -->
	<meta content="" property="og:title">
	<meta content="" property="og:image">
	<meta content="" property="og:url">
	<meta content="" property="og:site_name">
	<meta content="" property="og:description">
	<meta name="twitter:title" content="">
	<meta name="twitter:image" content="">
	<meta name="twitter:url" content="">
	<meta name="twitter:card" content="">

	<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">

	<!-- Animate.css -->
	<link href="/static/css/animate.css" rel="stylesheet">
	<!-- Icomoon Icon Fonts-->
	<link href="/static/css/icomoon.css" rel="stylesheet">
	<!-- Bootstrap  -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">

	<!-- Magnific Popup -->
	<link href="/static/css/magnific-popup.css" rel="stylesheet">

	<!-- Flexslider  -->
	<link href="/static/css/flexslider.css" rel="stylesheet">

	<!--vender-->
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/static/vendor/skycons/css/skycons.css" rel="stylesheet" />
	<link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

	<link href="/static/plugins/bootkit/css/bootkit.css" rel="stylesheet" />

	<!-- Theme style  -->
	<link href="/static/css/style.css" rel="stylesheet">
	<link href="/static/css/style_main.css" rel="stylesheet">
	<link href="/static/css/check.css" rel="stylesheet">
    <link href="/static/css/mycss.css" rel="stylesheet" />

	<!-- Modernizr JS -->
	<script src="/static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="/static/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body style="background-color:transparent;"><!--margin-top:10px;-->
	<div class="fh5co-loader" style="display: none;background-color:transparent;"></div>
	<div class="container-wrap">
		<div >
			<div >
				<ol class="breadcrumb visible-sm visible-md visible-lg" style="margin-bottom:0">
					<li><a href="/index_home"><i class="icon fa fa-home"></i>Home</a></li>
					<li class="active"><i class="fa fa-laptop"></i>首页</li>
				</ol>
			</div>
		</div>
        <div>
			<!--<div style="width:33.3333%;float:left;min-height: 450px;" class="panel panel-success"><div class="panel-heading">
                <div class="panel-title" style="text-align: center;display:none;">公告</div></div><div class="panel-body">请勿泄漏患者信息，注意保护患者隐私</div>
                <div>
                    <div style="background-color: red;width:25%;height:25%;"></div>
                    <div style="background-color: lightgray;width:25%;height:25%;">患者总数：250人</div>
                </div>
            </div>-->
            <div style="width:33.3333%;float:left;min-height: 450px;" >
                <div style="width:100%;margin-top: 6em;margin-left:3em;height:110px;">
                    <div style="background-color: red;float:left;width:90px;height:90px;margin-left:10px;margin-top:10px;" ><img src="/static/img/dataimg.jpg" width="100%" height="100%"/></div>
                    <div style="background-color: #333;float:left;width:180px;height:90px;line-height:100px;margin-top:10px;text-align: center;font-size:30px;" class="st-funfact-counter"><span class="st-ff-count" data-from="0" data-to="259464" data-runit="1" style="color:white;">0</span> 人</div>
                </div>
                <div style="width:100%;margin-left:3em;height:110px;">
                    <div style="background-color: red;float:left;width:90px;height:90px;margin-left:10px;margin-top:10px;"><img src="/static/img/dateimg.jpg" width="100%" height="100%"/></div>
                    <div style="background-color: #333;float:left;width:180px;height:90px;line-height:100px;margin-top:10px;text-align: center;font-size:30px;" class="st-funfact-counter"><span class="st-ff-count" data-from="0" data-to="348700" data-runit="1" style="color:white;">0</span> 次</div>
                </div>
                <div style="width:100%;margin-left:3em;height:110px;">
                    <div style="background-color: red;float:left;width:90px;height:90px;margin-left:10px;margin-top:10px;"><img src="/static/img/visitimg.jpg" width="100%" height="100%"/></div>
                    <div style="background-color: #333;float:left;width:180px;height:90px;line-height:100px;margin-top:10px;text-align: center;font-size:30px;" class="st-funfact-counter"><span class="st-ff-count" data-from="0" data-to="654383" data-runit="1" style="color:white;">0</span> 天</div>
                </div>
            </div>
            <aside id="fh5co-hero" style="width:66.6666%">
				<div class="flexslider" style="margin-right: 3em;background-color: ghostwhite">
					<ul class="slides">
						<li id="li1" class="flex-active-slide" style="width: 100%; margin-right: -100%; display: block; position: relative; z-index: 2; opacity: 1; float: left;min-height:400px;margin-top:30px;" data-thumb-alt="">
							<div id="maintest1" style="width: 100%; margin-right: -100%; display: block; position: relative; z-index: 2; opacity: 1; float: left;min-height:400px;margin-top:30px;"></div>
						</li>
						<li class="flex-active-slide" style="width: 100%; margin-right: -100%; display: block; position: relative; z-index: 2; opacity: 1; float: left;min-height:400px;margin-top:30px;" data-thumb-alt="">
							<div id="maintest2" style="width: 100%; margin-right: -100%; display: block; position: relative; z-index: 2; opacity: 1; float: left;min-height:400px;margin-top:30px;"></div>
						</li>
						<li class="flex-active-slide" style="width: 100%; margin-right: -100%; display: block; position: relative; z-index: 2; opacity: 1; float: left;min-height:400px;margin-top:30px;" data-thumb-alt="">
							<div id="maintest3" style="width: 100%; margin-right: -100%; display: block; position: relative; z-index: 2; opacity: 1; float: left;min-height:400px;margin-top:30px;"></div>
						</li>
						<li class="flex-active-slide" style="width: 100%; margin-right: -100%; display: block; position: relative; z-index: 2; opacity: 1; float: left;min-height:400px;margin-top:30px;" data-thumb-alt="">
							<div id="maintest4" style="width: 100%; margin-right: -100%; display: block; position: relative; z-index: 2; opacity: 1; float: left;min-height:400px;margin-top:30px;"></div>
						</li>
						<li class="flex-active-slide" style="width: 100%; margin-right: -100%; display: block; position: relative; z-index: 2; opacity: 1; float: left;min-height:400px;margin-top:30px;" data-thumb-alt="">
							<div id="maintest5" style="width: 100%; margin-right: -100%; display: block; position: relative; z-index: 2; opacity: 1; float: left;min-height:400px;margin-top:30px;"></div>
						</li>
					</ul>
				</div>

			</aside>
        </div>
		<div class="fh5co-light-grey" id="fh5co-work" style="background-color:transparent;">
			<div class="row" id="p1" style="background-color:transparent;">
				<div class="col-md-4 text-center animate-box fadeInUp animated-fast">
					<div class="work" style="border-color:gray;">
						<div class="grid_1_of_3 images_1_of_3" style="position:absolute;">
							<div style="margin-top: 30px;">
							<img src="../../static/images/g1.png">
							<h3 style="color:white;">实验组<!--our profile--></h3>
							<p style="color:white;">查看/添加实验组</p>
							</div>
						</div>
						<div class="desc" style="position:absolute;width:100%;background-color: #a086d3;">
							<div style="margin: 15px;" id="experimentGroup"></div>
						</div>

					</div>
				</div>
				<div class="col-md-4 text-center animate-box fadeInUp animated-fast">
					<div id="patients" class="work" style="border-color:gray;">
						<div class="grid_1_of_3 images_1_of_3" style=" background: #ff7243;">
							<div style="margin-top: 30px;">
							<img src="../../static/images/g2.png">
							<h3 style="color:white;">患者汇总<!--Care advices--></h3>
							<p style="color:white;">查看/添加/编辑患者信息</p>

							</div>
						</div>
						<div class="desc" style="position:absolute;overflow: hidden;width:100%;background-color: #ff7243;">
							<a href="/index_patientinfos"><h3 style="margin-top:30%;font-size:20px;">患者汇总信息</h3></a>
                            <a  data-toggle="modal" href="#PatientInfoDetails" style="color:white;"><h3>+ 添加新的患者信息</h3></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box fadeInUp animated-fast">
					<div class="work" style="border-color:gray;">
						<div class="grid_1_of_3 images_1_of_3" style=" background: #59a3fc;">
							<div style="margin-top: 30px;">
							<img src="../../static/images/g3.png" >
							<h3 style="color:white;">添加随访<!--Emergency--></h3>
							<p style="color:white;">添加门诊/急诊/住院记录</p>

							</div>
						</div>
						<div class="desc" style="position:absolute;overflow: hidden;width:100%;background-color: #59a3fc;">
							<div style="margin:20%;">
							<a id="visito" href="/index_outpatientinfos" ><h3 style="color:white;font-size:20px;"><i style="color:white;" class="fa fa-medkit bk-fg-primary"></i> 门诊随访记录</h3></a>
                        	<a id="visite" href="/index_emergencypatientinfos" ><h3 style="color:white;font-size:20px;"><i style="color:white;" class="fa fa-ambulance bk-fg-primary"></i> 急诊随访记录</h3></a>
                        	<a id="visith" href="/index_hospitalpatientinfos" ><h3 style="color:white;font-size:20px;"><i style="color:white;" class="fa fa-hospital-o bk-fg-primary"></i> 住院随访记录</h3></a>
							</div>
						</div>
					</div>
				</div>
			</div>
        <div class="copyrights">Collect from <a title="网站模板" href="http://www.cssmoban.com/">网站模板</a></div>
	</div>
	</div><!-- END container-wrap -->
	<div class="modal fade" id="ExperimentGroupDetails">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" style="color:black">实验组</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" method="post"  role="form" id="ExperimentGroupInfo">
								{% csrf_token %}
                            <div class="form-group">
                                <label  class="col-md-2  mylabel">实验组编号</label>
                                <div class="col-md-2"><input type="text" class="form-control myinput " name="G_id" id="G_id" readonly="true"></div>
                            </div>
                            <div class="form-group">
                                <label  class="col-md-2  mylabel">名称</label>
                                <span style="color:red;float:left;">*</span>
                                <div class="col-md-3" style="padding-left: 8px;padding-right: 22px;"><input type="text" class="form-control myinput" name="name" oninput = "checkename()"></div>
                                <div class="enamestatus"></div>
                            </div>
                            <div class="form-group">
                                <label  class="col-md-2 mylabel">创建时间</label>
                                <div class="col-md-3"><input type="date" class="form-control myinput" name="date"></div>
                            </div>
                            <div class="form-group">
                                <label  class="col-md-2 mylabel">创建者</label>
                                <div class="col-md-2"><input type="text" class="form-control myinput" name="D_id" readonly="true"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 mylabel">描述</label>
                                <div class="col-md-8"><textarea class="form-control myinput" name="description"></textarea></div>
                            </div>
                         </form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" id = "experimentGroupbt" class="btn btn-primary" data-dismiss="modal" style="border-top-width: 1px;border-bottom-width: 1px;margin-bottom: 4px;">保存</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	<div class="modal fade" id="PatientInfoDetails">
            <div class="modal-dialog  modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">详情/编辑</h4>
                    </div>
                    <div class="modal-body">
						<div>
                        <form class="form-horizontal" id = "PatientInfo" method="post" role="form">
							{% csrf_token %}
							<div class="row ">
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel" style="display:none">id</label>
                                    <div class="col-sm-6" >
                                      <input type="text" class="form-control myinput" name="id"  style="display:none">
                                    </div>
                                </div>
							</div>
                            <div class="row ">
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel">患者编号</label>
                                    <span style="color:red;float:left;">*</span>
                                    <div class="col-sm-6" style="padding-left: 7.5px; padding-right:22px">
                                      <input type="text" class="form-control myinput" name="P_id"  placeholder="请输入患者编号" oninput="checkid()">
                                    </div>
                                    <div class="idstatus"></div>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel">姓名</label>
                                    <span style="color:red;float:left;">*</span>
                                    <div class="col-sm-6" style="padding-left: 7.5px; padding-right:22px">
                                      <input type="text" class="form-control myinput" name="name" placeholder="请输入患者姓名" oninput="checkname()">
                                    </div>
                                    <div class="namestatus"></div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel">身份证号</label>
                                    <div class="col-sm-6">
                                      <input type="text" class="form-control myinput" name="IDCardNum" placeholder="请输入身份证号" oninput="checkIDnum()">
                                    </div>
                                    <div class="idnumstatus"></div>
                                </div>
								<div class="col-lg-6 col-md-6 myblockposition" style="margin-top:0;">
									<label class="col-sm-3 control-label mylabel">签署知情同意书</label>
									<div class="radio col-sm-3">
									  <label class="mycheckbox">
										<input type="radio" name="sign" value="1" checked>是
									  </label>
									</div>
									<div class="radio col-sm-3">
									  <label class="mycheckbox">
										<input type="radio" name="sign" value="2">否
									  </label>
									</div>
								</div>
                            </div>

                            <div class="row ">
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel" >就医时间</label>
                                    <div class="col-sm-6">
                                      <input type="date" class="form-control myinput" name="registerTime" placeholder="请选择">
                                    </div>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label  class="col-sm-3  control-label mylabel">出生日期</label>
                                    <div class="col-sm-6">
                                      <input type="date" class="form-control myinput" name="birthday" placeholder="请选择">
                                    </div>
                                </div>
                            </div>

							<div class="row ">
								<div class="col-lg-6 col-md-6 myblockposition" style="margin-top:0;">
									<label class="col-sm-3 control-label mylabel">性别</label>
									<div class="radio col-sm-3">
									  <label class="mycheckbox">
										<input type="radio" name="sex" value="1" checked>男
									  </label>
									</div>
									<div class="radio col-sm-3">
									  <label class="mycheckbox">
										<input type="radio" name="sex" value="2">女
									  </label>
									</div>
								</div>
                            </div>

                            <div class="row ">
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel">年龄</label>
                                    <div class="col-sm-6" >
                                      <input type="text" class="form-control myinput" name="age"  placeholder="请输入患者年龄" oninput="checkage()">
                                    </div>
                                    <div class="agestatus"></div>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel">民族</label>
                                    <div class="col-sm-6">
                                      <input type="text" class="form-control myinput" name="nation" placeholder="请输入患者民族">
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel">身高</label>
                                    <div class="col-sm-6" >
                                      <input type="text" class="form-control myinput" name="height" oninput="checkheight()">
                                    </div>
                                    <div class="heightstatus"></div>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel">体重</label>
                                    <div class="col-sm-6">
                                      <input type="text" class="form-control col-sm-3 myinput" name="weight" oninput="checkweight()">
                                      <!--<label class="mylabel col-sm-3">千克</label>-->
                                    </div>
                                    <div class="weightstatus"></div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel">舒张压</label>
                                    <div class="col-sm-6" >
                                      <input type="text" class="form-control myinput" name="diastolicPressure">
                                    </div>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel">收缩压</label>
                                    <div class="col-sm-6">
                                      <input type="text" class="form-control myinput" name="systolicPressure">
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel">颈围</label>
                                    <div class="col-sm-6" >
                                      <input type="text" class="form-control myinput" name="neckCircu"  data-toggle="tooltip" data-placement="top" title="指经喉结节点的颈部水平围长">
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel">学历</label>
                                    <div class="col-sm-6" >
                                      <select class="form-control myinput" name="education">
                                            <option value="1">小学</option>
                                            <option value="2">初中</option>
                                            <option value="3">高中/中专</option>
                                            <option value="4">大学专科（大专）</option>
                                            <option value="5">大学本科（大本）</option>
                                            <option value="6">研究生（硕士/博士）</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel">职业</label>
                                    <div class="col-sm-6">
                                       <select class="form-control myinput" name="career">
                                            <option value="1">农、林、牧、渔、水利业</option>
                                            <option value="2">工业</option>
                                            <option value="3">地质普查和勘探业</option>
                                            <option value="4">建筑业</option>
                                            <option value="5">交通运输业、邮电通信业</option>
                                            <option value="6">商业、公共饮食业、物资供应和仓储业</option>
                                            <option value="7">房地产管理、公用事业、居民服务和咨询服务业</option>
                                            <option value="8">卫生、体育和社会福利事业</option>
                                            <option value="9">教育、文化艺术和广播电视业</option>
                                            <option value="10">科学研究和综合技术服务业</option>
                                            <option value="11">金融、保险业</option>
                                            <option value="12">国家机关、党政机关和社会团体</option>
                                            <option value="13">其他行业</option>
                                      </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel">婚姻状况</label>
                                    <div class="col-sm-6" >
                                       <select class="form-control myinput" name="marriage">
                                            <option value="1">未婚</option>
                                            <option value="2">已婚</option>
                                            <option value="3">离异</option>
                                            <option value="4">丧偶</option>
                                      </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="form-group col-lg-9 col-md-9 myblockposition">
                                    <label class="col-sm-2 control-label mylabel">家庭住址</label>
                                    <div class="col-sm-2" style="margin-left:padding-left:0;padding-right:0"  >
                                      <select class="form-control myinput" name="province_h" id="province_h"></select>
                                    </div>
                                    <div class="col-sm-2" style="padding-left:0;padding-right:0" >
                                      <select class="form-control myinput" name="city_h" id="city_h"></select>
                                    </div>
                                    <div class="col-sm-2" style="padding-left:0;padding-right:0" >
                                      <select class="form-control myinput" name="county_h" id="county_h"></select>
                                    </div>
                                    <div class="col-sm-2" style="padding-left:0;padding-right:0" >
                                      <input type="text" class="form-control myinput" name="detail_h" id="detail_h">
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel">籍贯</label>
                                    <div class="col-sm-3" style="margin-left:padding-left:0;padding-right:0"  >
                                      <select class="form-control myinput" name="province" id="province"></select>
                                    </div>
                                    <div class="col-sm-3" style="padding-left:0;padding-right:0" >
                                      <select class="form-control myinput" name="city" id="city"></select>
                                    </div>
                                    <div class="col-sm-3" style="padding-left:0;padding-right:0" >
                                      <select class="form-control myinput" name="county" id="county"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel">经常活动地址1</label>
                                    <div class="col-sm-6" >
                                      <input type="text" class="form-control myinput" name="activityAddr1">
                                    </div>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel">经常活动地址2</label>
                                    <div class="col-sm-6">
                                      <input type="text" class="form-control myinput" name="activityAddr2">
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel">最大活动半径</label>
                                    <div class="col-sm-6" >
                                      <input type="text" class="form-control myinput" name="actionAddr" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel">固定电话</label>
                                    <div class="col-sm-6" >
                                      <input type="text" class="form-control myinput" name="telephone" oninput="checktele()">
                                    </div>
                                    <div class="telestatus"></div>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel">手机</label>
                                    <div class="col-sm-6">
                                      <input type="text" class="form-control myinput" name="cellphone" oninput="checkcell()">
                                    </div>
                                    <div class="cellstatus"></div>
                                </div>
                            </div>


                            <div class="row ">
                                <div class="form-group col-lg-6 col-md-6 myblockposition">
                                    <label class="col-sm-3 control-label mylabel">同住人联系方式</label>
                                    <div class="col-sm-6" >
                                      <input type="text" class="form-control myinput" name="partnerPhone">
                                    </div>
                                </div>
                            </div>

							<div class="row ">
								<div class="col-lg-12 col-md-12 myblockposition" style="margin-top:0%;">
									<label class="col-sm-2 control-label mylabel">医疗支付方式</label>
									<div class="checkbox col-sm-3">
									  <label class="mycheckbox">
										<input type="radio" name="payment"  value="1" checked>城镇居民基本保险
									  </label>
									</div>
									<div class="checkbox col-sm-3">
									  <label class="mycheckbox">
										<input type="radio" name="payment"  value="2">城镇职工基本保险
									  </label>
									</div>
									<div class="checkbox col-sm-3">
									  <label class="mycheckbox">
										<input type="radio" name="payment"  value="3">新型农村合作医疗
									  </label>
									</div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-lg-12 col-md-12 myblockposition" style="margin-top:0;">
                                    <label class="col-sm-2 control-label mylabel"></label>
                                    <div class="checkbox col-sm-3">
                                      <label class="mycheckbox">
                                        <input type="radio" name="payment"  value="4">商业医疗保险
                                      </label>
                                    </div>
                                    <div class="checkbox col-sm-2">
                                      <label class="mycheckbox">
                                        <input type="radio" name="payment"  value="5">全公费
                                      </label>
                                    </div>
                                    <div class="checkbox col-sm-2">
                                      <label class="mycheckbox">
                                        <input type="radio" name="payment"  value="6">全自费
                                      </label>
                                    </div>
                                    <div class="checkbox col-sm-2">
                                      <label class="mycheckbox">
                                        <input type="radio" name="payment"  value="7">其他
                                      </label>
                                    </div>
								</div>
                            </div>
                        </form>
                    </div>
                    </div>
                    <div class="modal-footer">
						<button type="button"  class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" id="PatientInfobt" class="btn btn-primary" data-dismiss="modal">提交</button>
                    </div>
                </div>
            </div>
        </div>

	<div class="gototop js-top active">
		<a class="js-gotop" href="#"><i class="icon-arrow-up2"></i></a>
	</div>


	<!-- jQuery -->
	<script src="/static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/static/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/static/js/jquery.flexslider-min.js"></script>
	<!-- Magnific Popup -->
	<script src="/static/js/jquery.magnific-popup.min.js"></script>
	<script src="/static/js/magnific-popup-options.js"></script>
	<!-- Counters -->
	<script src="/static/js/jquery.countTo.js"></script>
    <script src="/static/js/jquery.stellar.js"></script>
    <script src="/static/js/jquery.appear.js"></script>
	<script src="/static/js/jquery.nicescroll.min.js"></script>

	<!-- Main -->
	<script src="/static/js/main.js"></script>
	<script src="/static/js/echarts.min.js"></script>
	<script src="/static/js/shine.js"></script>
	<!--Pages-->
	<script src="/static/js/pages/index_home.js"></script>
	<script src="/static/js/pages/charts-home.js"></script>
	<script src="/static/js/pages/frame-refresh.js"></script>
	<script src="/static/js/pages/tools.js"></script>
	<script src="/static/js/pages/areaSelect.js"></script>
	<script src="/static/js/pages/page-patient.js"></script>
    </body>
</html>
