<!DOCTYPE html>
<html lang="en">

	<head>

		<!-- Basic -->
    	<meta charset="UTF-8" />

		<title>首页</title>

		<!-- Mobile Metas -->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	    <!-- start: CSS file-->

		<!-- Vendor CSS-->
		<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/static/vendor/skycons/css/skycons.css" rel="stylesheet" />
		<link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

		<!-- Plugins CSS-->
		<link href="/static/plugins/bootkit/css/bootkit.css" rel="stylesheet" />
		<link href="/static/plugins/scrollbar/css/mCustomScrollbar.css" rel="stylesheet" />
		<link href="/static/plugins/fullcalendar/css/fullcalendar.css" rel="stylesheet" />
		<link href="/static/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css" rel="stylesheet" />
		<link href="/static/plugins/xcharts/css/xcharts.min.css" rel="stylesheet" />
		<link href="/static/plugins/morris/css/morris.css" rel="stylesheet" />


		<!-- Theme CSS -->
		<link href="/static/css/jquery.mmenu.css" rel="stylesheet" />

		<!-- Page CSS -->
		<link href="/static/css/style.css" rel="stylesheet" />
		<link href="/static/css/add-ons.min.css" rel="stylesheet" />

		<!-- end: CSS file-->

		<!--my css by zyc-->

		<link href="/static/css/mycss.css" rel="stylesheet" />

		<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	</head>

	<body style="background-color: transparent">
		<!-- Start: Content -->
		<div class="container-fluid content">
			<div class="row" style="max-width:1060px ;  margin: 0 auto;  margin-bottom: 1em;  background: #fff;">
				<!-- Main Page -->
				<div >
					<!-- Page Header -->
					<div >
						<div >
							<ol class="breadcrumb visible-sm visible-md visible-lg">
								<li><a href="/index_home"><i class="icon fa fa-home"></i>Home</a></li>
								<li class="active"><i class="fa fa-laptop"></i>添加门诊</li>
							</ol>
						</div>
					</div>
					<!-- End Page Header -->
                    <div class="row" id="outinfos" style="margin:0 auto;max-width:750px;margin-top:30px">
                        <form class="form-horizontal" id = "OutPatientServiceInfo" method="post" role="form">
							{% csrf_token %}
                            <legend class="text" style="text-align:center;">门诊信息表</legend>
							<div class="row">
								<input type="text" class="form-control myinput" name="id"  style="display:none;">
							</div>
							<div class="panel panel-primary"><!--text-center-->
                            <div class="panel-heading">
                                <h3 class="panel-title mylabel">
                                    基本信息
                                </h3>
                            </div>
                            <div class="panel-body">
                            <div class="row ">
                                <div class="form-inline myblockposition">
                                    <label class="control-label mylabel2" style="width:140px" >0.1. 患者编号</label>
									<input type="text" class="myinput" id = "P_id" name="P_id" style="width:160px;" placeholder="请输入患者号">
									<button class="btn btn-default glyphicon glyphicon-search myinput"   style="width:40px;" id="searchbt" type="button"></button>

								</div>
                            </div>
                            <div class="row ">
                                <div class="form-inline myblockposition">
									<label class="control-label mylabel2" style="width:140px" >0.1.1. 姓名</label>
									<input type="text" class="myinput" id="name"  style="width:160px;" readonly>
								</div>
                            </div>
                            <div class="row ">
                                <div class="form-inline myblockposition">
                                    <label class="mylabel2" style="width:140px" >0.2. 就诊时间</label>
                                    <input type="date" style="width:160px;" class="myinput" name="date" placeholder="请选择">
                                </div>
                                <div class="form-inline myblockposition">
                                    <label  class="mylabel2" style="width:140px" >0.3. 就诊地点</label>
                                    <input type="text" style="width:160px;" class="myinput" name="place" placeholder="请输入就诊地点">
                                </div>
                            </div>


							<div class="row">
                                <h4 class="mylabel2" style="float:left; width:300px;">0.4. 就诊原因</h4>
								<div class="radio radio-inline">
								  <label class="mycheckbox" >
									<input type="radio" name="isStable"  value="1" >稳定期随访
								  </label>
								  <label class="mycheckbox" >
									<input type="radio" name="isStable"  value="2">急性期加重
								  </label>
								</div>
                            </div>

							<!--<div class="row" style="text-indent:2em">
                                <div class="radio">
								  <label class="mycheckbox" style="width:150px">
									<input type="radio" name="isStable"  value="1" >稳定期随访
								  </label>
								  <label class="mycheckbox" style="width:150px">
									<input type="radio" name="isStable"  value="2">急性期加重
								  </label>
								</div>
                            </div>-->

							</div>
							</div>

							<div class="panel panel-success" id="p2"><!--text-center-->
                            <div class="panel-heading">
                                <h3 class="panel-title mylabel">
                                    检查信息
                                </h3>
                            </div>
                            <div class="panel-body">
							<div class="row">
                                <h4 class="mylabel2" style="float:left; width:300px;">1. 症状</h4>
								<div class="radio radio-inline">
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="isSymptom"  value="1" >是
								  </label>
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="isSymptom"  value="2">否
								  </label>
								</div>
                            </div>
                            <!--<div class="row" style="text-indent:2em">
                                <div class="radio">
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="isSymptom"  value="1" >是
								  </label>
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="isSymptom"  value="2">否
								  </label>
								</div>
                            </div>-->

							<div id="symptom" style="display:none;margin-left:20px;text-indent:2em">
								<div class="row">
									<h4 class="mylabel2" >1.1. 症状为</h4>
								</div>
								<div class="row">
									<div class="checkbox">
									  <label class="mycheckbox" style="width:150px">
										<input type="checkbox" name="symptom"  value="1" >咳嗽加重
									  </label>
									  <label class="mycheckbox" style="width:200px">
										<input type="checkbox" name="symptom"  value="2" checked>咳浓痰并痰量增加
									  </label>
									  <label class="mycheckbox" style="width:200px;">
										<input type="checkbox" name="symptom"  value="3">呼吸困难加重
									  </label>
									</div>
								</div>
							</div>



							<div class="row">
                                <h4 class="mylabel2" style="float:left; width:300px;">2. 呼吸系统查体是否正常</h4>
								<div class="radio radio-inline">
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="physicalExam"  value="1" >是
								  </label>
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="physicalExam"  value="2">否
								  </label>
								</div>
                            </div>
                            <!--<div class="row" style="text-indent:2em">
                                <div class="radio">
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="physicalExam"  value="1" >是
								  </label>
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="physicalExam"  value="2">否
								  </label>
								</div>
                            </div>-->

							<div id="breathErr" style="display:none;margin-left:20px;text-indent:2em">
								<div class="row">
									<h4 class="mylabel2" >2.1. 异常表现为</h4>
								</div>
								<div class="row" style="text-indent:2em">
									<div class="myblockposition">
										<textarea class="myinput" style="min-width:300px;height:60px;text-align:left;margin:0 auto" name="breathErr"></textarea>
									</div>
								</div>
							</div>
							<div class="row">
                                <h4 class="mylabel2" style="float:left; width:300px;">3.1. 诊断为慢阻肺急性加重</h4>
								<div class="radio radio-inline">
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="acuteExac"  value="1" >是
								  </label>
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="acuteExac"  value="2">否
								  </label>
								</div>
                            </div>
                            <!--<div class="row" style="text-indent:2em">
                                <div class="radio">
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="acuteExac"  value="1" >是
								  </label>
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="acuteExac"  value="2">否
								  </label>
								</div>
                            </div>-->

							<div class="row " id="disease" style="display:none;margin-left:10px">
                                <div class="form-inline myblockposition">
                                    <label class="mylabel2" style="width:150px" >3.1.1 诊断疾病为</label>
                                    <input style="width:140px;" class="myinput" name="disease">
                                </div>
							</div>

							<div class="row">
                                <h4 class="mylabel2" style="float:left; width:300px;">4.1. 使用抗生素</h4>
								<div class="radio radio-inline">
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="useAbt"  value="1" >是
								  </label>
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="useAbt"  value="2">否
								  </label>
								</div>
                            </div>
                            <!--<div class="row" style="text-indent:2em">
                                <div class="radio">
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="useAbt"  value="1" >是
								  </label>
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="useAbt"  value="2">否
								  </label>
								</div>
                            </div>-->

							<div class="row" id="abtType" style="display:none;margin-left:10px">
                                <div class="form-inline myblockposition">
                                    <label class="mylabel2" style="width:160px" >4.1.1. 抗生素种类为</label>
                                    <input style="width:140px;" class="myinput" name="abtType">
                                </div>
							</div>

							<div class="row">
                                <h4 class="mylabel2" style="float:left; width:300px;">4.2. 使用静脉激素</h4>
								<div class="radio radio-inline">
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="useJmzs"  value="1" >是
								  </label>
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="useJmzs"  value="2">否
								  </label>
								</div>
                            </div>
                            <!--<div class="row" style="text-indent:2em">
                                <div class="radio">
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="useJmzs"  value="1" >是
								  </label>
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="useJmzs"  value="2">否
								  </label>
								</div>
                            </div>-->
							</div>
							</div>
							<div class="panel panel-info" id="p3"><!--text-center-->
                            <div class="panel-heading">
                                <h3 class="panel-title mylabel">
                                    诊断信息
                                </h3>
                            </div>
                            <div class="panel-body">

							<div class="row">
                                <h4 class="mylabel2" style="float:left; width:300px;">5. 住院继续治疗</h4>
								<div class="radio radio-inline">
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="hospital"  value="1" >是
								  </label>
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="hospital"  value="2">否
								  </label>
								</div>
                            </div>
                            <!--<div class="row" style="text-indent:2em">
                                <div class="radio">
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="hospital"  value="1" >是
								  </label>
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="hospital"  value="2">否
								  </label>
								</div>
                            </div>-->

							<div class="row">
                                <h4 class="mylabel2" style="float:left; width:300px;">6. 慢阻肺急性加重与大气污染有关</h4>
								<div class="radio radio-inline">
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="airRelate"  value="1" >是
								  </label>
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="airRelate"  value="2">否
								  </label>
								</div>
                            </div>
                            <!--<div class="row" style="text-indent:2em">
                                <div class="radio">
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="airRelate"  value="1" >是
								  </label>
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="airRelate"  value="2">否
								  </label>
								</div>
                            </div>-->

							<div class="row">
                                <h4 class="mylabel2" style="float:left; width:300px;">7. 是否调整长期治疗方案</h4>
								<div class="radio radio-inline">
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="treatMethod"  value="1" >是
								  </label>
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="treatMethod"  value="2">否
								  </label>
								</div>
                            </div>
                            <!--<div class="row" style="text-indent:2em">
                                <div class="radio">
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="treatMethod"  value="1" >是
								  </label>
								  <label class="mycheckbox" style="width:100px">
									<input type="radio" name="treatMethod"  value="2">否
								  </label>
								</div>
                            </div>-->
							<div id="medicine" style="display:none;margin-left:10px">
								<div class="row">
									<h4 class="mylabel2" >7.1 调整药物为</h4>
								</div>
								<div class="row" style="text-indent:2em">
									<div class="myblockposition">
										<textarea class="myinput" style="width:300px;height:60px;text-align:left;margin-left:25px" name="medicine"></textarea>
									</div>
								</div>
							</div>

							<div class = "row">
								<div class="pull-right" style="padding-right:20px">
									<button type="submit" id= "outpatientbt" class="btn btn-primary">提交</button>
								</div>
                            </div>
							</div>
							</div>
                        </form>
                    </div>


                </div>
			</div>	<!-- End Main Page -->
		</div><!--/container-->
		<!-- start: JavaScript-->

		<!-- Vendor JS-->
		<script src="/static/vendor/js/jquery.min.js"></script>
		<script src="/static/vendor/js/jquery-2.1.1.min.js"></script>
		<script src="/static/vendor/js/jquery-migrate-1.2.1.min.js"></script>
		<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/vendor/skycons/js/skycons.js"></script>

			<!-- Theme JS -->
		<script src="/static/js/jquery.mmenu.min.js"></script>
		<script src="/static/js/core.min.js"></script>




		<script src="/static/js/pages/tools.js"></script>
		<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
		<script src="/static/js/moment.min.js"></script>
		<script src="/static/js/pages/outpatient.js"></script>
		<script src="/static/js/pages/frame-refresh.js"></script>
		<!-- end: JavaScript-->
		<!--<script src="/static/js/pages/skinManage.js"></script>-->
	</body>

</html>
